*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ageInDays{
    width: 700px;
    margin: 0 auto;
    
}
.container-ageInDays{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttons{
    display: flex;
    justify-content: space-between;
}